
body{
  background:#fff;
}
ul{
  li{
    font-size: 20px;
  }
}
.add-input{
  width: 80%;
}
.tools{
  padding-right: 100px;
  ul{
    float: right;
  }
  .list-content{
    display: block;
    width: 100%;
    font-size:16px;
  }
}
.footer{
  display: flex;
  justify-content: space-between;
  span{
    display: inline-block;
    line-height:40px;
    background: #2279de;
    color:#fff;
    border-radius:10px;
    padding:0 10px;
  }
}