
body{
  background:#fff;
}
ul{
  li{
    font-size: 20px;
  }
}
.add-input{
  width: 80%;
}
.tools{
  padding-right: 100px;
  ul{
    float: right;
  }
  .list-content{
    display: block;
    width: 100%;
    font-size:16px;
  }
}